@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit, sans-serif, serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  visibility: hidden;
}
.active {
  border-right: 5px solid rgba(0, 0, 255, 0.673);
  background-color: rgb(243, 237, 237);
}
